 * {
 	
 }

h1, h2, h3, h4{
	font-family: 'Georgia', Times, "Times New Roman", serif;
}

header {
	
}

h1{
 	height: 50px;
  	width: 320px;
  	background: #4aaaa5;
  	margin: auto;
  	padding-top: 50px;
  	border-color: #cccccc;
	border-style: solid;
	border-radius: 20px;
	color: white;
	text-align: center;
  	overflow: auto;
  	float: left;
}

.navbar{
	height: 50px;
  	width: 270px;
  	text-align: center;
  	overflow: auto;
  	font-size: 16pt;
	float: right;
  	padding-top: 50px;
}

.links {
	display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font size: 16;
    position: relative;
}

a{
   color: #777777;
   text-decoration: none;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

a:hover {
	color: #4AAAA5;
}

a:focus {
	color: white;
}

a:active {
	color: #777777;
}

li {
    display: inline;
}

hr {
	clear: both;
	display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #cccccc;
    margin: 1em 0;

    padding: 0; 
    width: 100%;

}


body {
	
	width: 960px;
	background-image: url("../images/subtle_white_mini_waves.png'"); 
	font-family: "Arial," "Helvetica Neue," Helvetica, sans-serif;
	font-size: 18px;
	margin: auto;
}

.section {
	padding-top: 10px;
	padding-bottom: 10px;
	height: 430px;
	margin-bottom: 20px;
	width: 650px;
	background: white;
	border-color: #dddddd;
	border-style: solid;
	text-align: left;
	float: left;

}

h2 { 
	color:#4aaaa5; 
	margin-left: 10%;
}

.profile {
	height:auto; 
	width:160px;
	overflow: auto;
	margin-left: 10%;
	float: left;
}

.article {
	float: left;
	overflow: auto; 
	display: inline-block;
/*	padding-top: 20px;
	width: auto;
	margin: 20px;
	text-align: center;
	overflow: auto;
	float: left;
	align-items: center;*/
}

.contact {
	padding-top: 20px;
	background: #777;
	margin: 20px;
	text-align: center;
	overflow: auto;
	display: inline-block;
}
.portfolio {
	padding-top: 20px;
	background: #777;
	margin: 20px;
	text-align: center;
	overflow: auto;
}

.aside {
	height: 430px;
	width: 270px;
	padding-top: 20px;
	color:;
	background: white;
	border-color: #dddddd;
	border-style: solid;
	text-align: center;
	overflow: auto;
	float: right;
}

h3 { 
	color:#4aaaa5; 
}

.social {

}

.linked{
	height: 88px;
	width: 88px;
	padding-left: 1.5px;
	overflow: auto;
	float: left;
}

.git {
	height: 88px;
	width: 88px;
	padding-left: 2px;
	overflow: auto;
	float: left;
}

.stack {
	height: 88px;
	width: 88px;
	padding-left: 0px;
	overflow: auto;
	float: left;
}

.footer {
	height: 60px;
 	width: 960px;
 	padding-top: 60px;
 	background: #666666;
 	text-align: center;
 	overflow: auto;
 	color: grey;

	
}